VITE_SUPABASE_URL=https://yqzqdvxacuwmiuczknbl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxenFkdnhhY3V3bWl1Y3prbmJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1MzU4MTksImV4cCI6MjA2NTExMTgxOX0.MX-gD6H3wRoIyAeBJqj3yTZ_Pb5vNdHaEIj6edKeNIs
VITE_CLERK_PUBLISHABLE_KEY=pk_test_cmVsYXhpbmctcXVhaWwtNTkuY2xlcmsuYWNjb3VudHMuZGV2JA